//
   Created by Administrator on 2016/10/12.

meta(charset="UTF-8")
title Document
link(rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.css")
link(rel="stylesheet" type="text/css" href="../scss/main.css")